<form class="form-inline" method="POST" action="{{ url_for('test') }}">
    <head>
        <meta charset="UTF-8">
        <title>Sentiment</title>
    </head>
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please Select</span>
            <select name="ticker_select" class="selectpicker form-control">
              {% for ticker in tickers %}
              <option value="{{ ticker }}">{{ ticker }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </div>
</form>